# `()` and `[]`

Remember that Python is very, very precise about how it understands your code.

`()` have multiple meanings in python:

- function call: `my_function(arg1)`
- defining a function: `def my_function(arg1):`
- specifying the order of operations: `4*(3+2)`
- creating a tuple: `(1,2,3,4)` or `(1,)` or `()` (Note that `(1)` will not create a tuple. Also: you can create a tuple without parentheses...)

`[]` similarly has a few meanings, based on context

- creating a list: `[1,2,3,4]` or `[1,]` or `[1]` or `[]`
- getting an item: `x = my_list[index]`
  - getting a slice: `x = my_list[start_index:end_index:increment]`
- setting an item: `my_list[index] = x`

# Basic plotting, revisited

In [ ]:
# Below, we will use matplotlib, so we need to import it here.
import matplotlib.pyplot as plt

In [ ]:
x=[1,2,3,4,5,6,7,8,9,1]
y=[0,4,0,3,3,0,3,4,5,2]

In [ ]:
plt.plot(x,y,'--')

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]
y1=[0,4,0,3,3,0,3,4,5,2]
y2=[3,2,4,4,2,4,4,2,4,2]
plt.plot(x,y1)
plt.plot(x,y2)

# String formatting

## Old-style string formatting with `%`

When the operator `%` is used on a string, the string is used as a *format string* for old-style formatting.

In these old-style format strings, `%d` means to print an integer, `%s` means to print a string.

In [5]:
"The numbers are %d, %d, %d" % (5,10,20)

'The numbers are 5, 10, 20'

In [6]:
tmp = (5,10,20)
"The numbers are %d, %d, %d" % tmp

'The numbers are 5, 10, 20'

In [7]:
tmp = (5,10,20,100)
"The numbers are %d, %d, %d" % tmp

TypeError: not all arguments converted during string formatting

In [8]:
tmp = (5,10)
"The numbers are %d, %d, %d" % tmp

TypeError: not enough arguments for format string

In [9]:
my_string = "The numbers are %d, %d, %d"
my_string

'The numbers are %d, %d, %d'

In [10]:
my_string%(7, 14, 21)

'The numbers are 7, 14, 21'

In [11]:
tuple1 = (100, 200, 300)
my_string % tuple1

'The numbers are 100, 200, 300'

In [12]:
"The numbers are %d, %d, %d"%(5,10)

TypeError: not enough arguments for format string

In [13]:
"The numbers are %d, %d, %d"%(5,10,20,40)

TypeError: not all arguments converted during string formatting

In [14]:
"Hello %s"%("world")

'Hello world'

In [15]:
"Hello %s"%1

'Hello 1'

In [16]:
"Hello %d, %d"%(1, 2)

'Hello 1, 2'

In [17]:
"Hello %d, %d"%(1, 2)

'Hello 1, 2'

In [18]:
"Hello %d"%1

'Hello 1'

In [19]:
"Hello %d"%'hello'

TypeError: %d format: a real number is required, not str

In [20]:
"Hello %s"%'hello'

'Hello hello'

## New-style (since Python 2.7) formatting with `.format()`

In [21]:
"The numbers are {}, {}, {}".format(5,10,20)

'The numbers are 5, 10, 20'

In [22]:
"Hello {}".format("world")

'Hello world'

## Even newer (since Python 3.6) style formatting with f-strings.

In [23]:
name="Andrew"
my_string = f"Hello, my name is {name}."
print(my_string)

Hello, my name is Andrew.

In [24]:
f"Hello, my name is {name}."

'Hello, my name is Andrew.'

In [25]:
f"Hello, my name is {name}. {akjfhasd}"

NameError: name 'akjfhasd' is not defined

In [26]:
f"Hello, my name is {name}. {{akjfhasd}}"

'Hello, my name is Andrew. {akjfhasd}'

In [27]:
"Hello, my name is {}.".format(name)

'Hello, my name is Andrew.'

In [28]:
my_template = "hello {}"
print('my template is:', my_template)
my_template.format(name)

my template is: hello {}

'hello Andrew'

In [29]:
my_template = "hello {}"
my_template.format(name)
print('my template is', my_template)

my template is hello {}

## Control flow with `while`

In [30]:
x = True
y = 0
while x:
    print(y)
    y = y + 100
    if y >= 1000:
        x = False
print('done')

0
100
200
300
400
500
600
700
800
900
done

In [31]:
y = 0
while True:
    print(y)
    y = y + 100
    if y >= 1000:
        break
print('done')

0
100
200
300
400
500
600
700
800
900
done

In [32]:
y = 0
while y < 1000:
    print(y)
    y = y + 100
print('done')

0
100
200
300
400
500
600
700
800
900
done

## `break` and `continue`

In [33]:
y = 0
while True:
    print(y)
    y = y + 100
    if y >= 1000:
        break

0
100
200
300
400
500
600
700
800
900

In [34]:
y = 0
while True:
    print(y)    
    y = y + 100
    if y >= 1000:
        break
    if y < 400:
        continue    
    y = y + 10

0
100
200
300
410
520
630
740
850
960